<li class="category">
<div class="post col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
  <article>
    <div class="col-md-10 col-lg-10 col-md-push-2 col-lg-push-2">
      <h2><a href='{{ .Permalink }}'>{{ .Title }}</a></h2>
    </div>
    <div class="col-md-2 col-lg-2 col-md-pull-10 col-lg-pull-10">
      {{ template "shortcodes/datetime.html" . }}
    </div>
    <div class="col-md-10 col-lg-10 col-md-push-2 col-lg-push-2">
      Posted in:
      {{ range  $i, $cat := .Params.categories }}{{ if $i }}, {{ end }}<a href="/categories/{{ $cat }}/">{{ $cat }}</a>{{ end }}
    </div>
  </article>
</div>
</li>
