{{ template "chrome/header.html" . }}
<div class="article col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
<article role="article">
  <header>
  <div class="jumbotron">
    <div class="container">
    <h1>{{ .Title }}</h1>
    <h5 class="date-time"><i class="icon-calendar-empty"></i> <time datetime="{{ .Date.UTC }}" pubdate="" data-updated="true">{{ .Date.Format "Mon 01" }}, {{ .Date.Format "2006" }}</time></h5>
    </div>
  </div>
  </header>
    <div class="container">
    {{ .Content }}
    </div>
  <footer>
  <p>
  {{ range .Params.categories }}
    <a href="/categories/{{ . }}/"><span class="badge">{{ . }}</span></a>
  {{ end }}
  </p>
  {{ if .Prev }}
    <a class="previous" href="{{.Prev.Permalink}}">
      <span class="glyphicon glyphicon-backward"></span>
      {{.Prev.Title}}
    </a>
  {{ end }}
  {{ if .Next }}
    <a class="next pull-right" href="{{.Next.Permalink}}">
      {{.Next.Title}}
      <span class="glyphicon glyphicon-forward"></span>
    </a>
  {{ end }}
  </footer>
</article>
{{ template "chrome/disqus.html" }}
</div>
{{ template "chrome/footer.html" . }}
