<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{if .Title }}
        <h1><a class="navbar-brand" href="/">Ross Lawley</a></h1>
      {{end}}
    </div>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="http://github.com/rozza" title="Github Profile" target="_blank">
            <i class="icon-github-sign social-navbar"></i>
          </a>
        </li>
        <li>
          <a href="http://linkedin.com/in/rosslawley" title="Linkedin Profile" target="_blank">
            <i class="icon-linkedin-sign social-navbar"></i>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/RossC0" title="Twitter Profile" target="_blank">
            <i class="icon-twitter-sign social-navbar"></i>
          </a>
        </li>
      </ul>
  </div>
</nav>